body {
    font-family: Arial;
    background-color: rgb(40, 141, 243);
    text-align: center;
    align-items: center;
}
.container {
    display: flex;
}
.box {
    flex: 1;
}
#clickButton {
    height: 100px;
    width: 100%;
    font-weight: 600;
    font-size: 1.2em;
    background-color: lawngreen;
    border: solid black 4px;
}
.stats{
    font-size: 1.7em;
}
.btnU {
    height: 80px;
    width: 200px;
    background-color: red;
    font-weight: 900;
    border-radius: 20%;
}

#pageTwo {
    display: none;
}
#pageThree {
    display: none;
}
#autoPageTwo {
    display: none;
}
#autoPageThree {
    display: none;
}

.buttonPageNext,
.buttonPagePrevious,
.buttonPageNextAuto,
.buttonPagePreviousAuto {
    height: 20px;
    width: 30px;
    background-color: rgb(165, 236, 177);
    border: 1px black solid;
}

#resetButton{
    height: 40px;
    width: 200px;
    background-color: rgb(165, 236, 177);
}

