body {
    font-family: Arial;
    background-color: rgb(40, 141, 243);
    text-align: center;
    align-items: center;
}
.container {
    display: flex;
}
.box {
    flex: 1;
}
#clickButton {
    height: 100px;
    width: 100%;
    font-weight: 600;
    font-size: 1.2em;
    background-color: lawngreen;
    border: solid black 4px;
}
.stats{
    font-size: 1.7em;
}
.btnU, .btnUA {
    height: 80px;
    width: 200px;
    background-color: red;
    font-weight: 900;
    border-radius: 20%;
}

#pageTwo {
    display: none;
}
#pageThree {
    display: none;
}
#autoPageTwo {
    display: none;
}
#autoPageThree {
    display: none;
}

.buttonPageNext,
.buttonPageNextAuto {
    height: 20px;
    width: 30px;
    background-color: rgb(165, 236, 177);
    border: 1px black solid;
}

.buttonPagePreviousAuto,
.buttonPagePrevious {
    height: 20px;
    width: 30px;
    background-color: red;
    border: 1px black solid;
}

#resetButton{
    height: 40px;
    width: 200px;
    background-color: rgb(165, 236, 177);
}

#yellow-square {
    width: 65px;
    height: 65px;
    background-color: gold;
    position: absolute;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#yellow-square-points{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 900;
    font-size: 1em;
}


#settings-button{
    position: absolute;
    height: 40px;
    width: 200px;
    background-color: gray;
    font-family: system-ui, 'Segoe UI,' 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    left: 0;
    margin-left: 10px;
}

#settings-gui{
    position: absolute;
    height: 150px;
    width: 300px;
    background-color: rgb(148, 147, 147);
    border: 3px solid black;
    border-radius: 10%;
    display: none;
}
.settings-options{
    height: 40px;
    width: 250px;
    margin-top: 20px;
    border: 3px solid black;
    background-color: rgb(231, 228, 228);
    font-size: 1em;
    font-weight: 500;
}
#language-gui{
    position: absolute;
    height: 150px;
    width: 300px;
    background-color: rgb(148, 147, 147);
    border: 3px solid black;
    border-radius: 10%;
    display: none;
    margin-top: 100px;
}
#english{
    background-color: green;
}
#polish{
    background-color: rgb(162, 77, 77);
}
#sound {
    background-color: rgb(162, 77, 77);
}